{%load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AMS</title>
  <link rel="shortcut icon" type="image/jpg" href="{%static 'AMSfavicon.png' %}">


  <!-- Vendor CSS -->
  <link rel="stylesheet" href="{%static 'libs/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{%static 'libs/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{%static 'libs/font-material/css/material-design-iconic-font.min.css' %}">

</head>
<body>
  <main class="container">
    <div class="d-flex justify-content-center align-items-center front__ " style="margin-top: 8rem;">
      <img src="{%static 'img/AMS-LOGO-ORIGINAL.png' %}" alt="AMS" width="75%">
    </div>
  </main>
  
</body>
</html>