{%extends 'base.html'%}
{%load static%}
{%block content%}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Schemes</h3>
                <a href="{%url 'main-config:scheme-create'%}">
                <button type="button" class="btn btn-primary" style="float: right; margin-bottom: 8px;">Add New</button>
              </a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 5%;">#</th>
                      <th style=" width: 25%;">Name</th>
                      <th style=" width: 15%;">Slug</th>
                      <th style=" width: 15%;">Location</th>
                      <th style=" width: 12%;">Tool start date</th>
                      <th style=" width: 10%;">Visualize data for ( Year )</th>
                      <th style=" width: 10%;">System Date Format</th>
                      <th style=" width: 8%;">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for i in schemes%}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td><a href="{{FRONTEND_DOMAIN_URL}}/#/{{i.slug}}/home">{{i.scheme_name|title}}</a><br>
                        Config-url: <a href="{{FRONTEND_DOMAIN_URL}}/#/auth/home" target="_blank">{{FRONTEND_DOMAIN_URL}}/#/auth/home</a><br>
                        Dashboard-url<a href="{{FRONTEND_DOMAIN_URL}}/#/scheme/{{i.slug}}/home" target="_blank">{{FRONTEND_DOMAIN_URL}}/#/scheme/{{i.slug}}/home</a>
                        
                      </td>
                      <td>{{i.slug}}</td>
                      <td>{{i.location|title}}</td>
                      <td>{{i.tool_start_date|title}}</td>
                      <td>{{i.period|title}}</td>
                      <td>{{i.system_date_format|title}}</td>
                      <td>
                        <a style="padding-right:5px;" href="{%url 'main-config:scheme-update' i.id%}"><img src="{%static 'Icon feather-edit-2.svg'%}" height="18px"></a>
                        <!-- <a><i class="fas fa-trash"></i>
                        </a> -->

                      </td>
                    </tr>
                    {%endfor%}
                 
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
         
        </div>
        <!-- /.row -->
    
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{%endblock%}