.generalCard {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.25rem 1.25rem;
    filter: drop-shadow(0px 5px 25px #52575d21);

    .note- {
        h4{
            margin-bottom: 16px;
            color: #000;
        }
        &table {
            thead {
                th {
                    color: #000;
                    text-align: center;
                    font-family: "Roboto";
                    font-size: 13px;
                    letter-spacing: calc((31.25 / 1000) * 1em);
                    line-height: 25px;
                    font-weight: bold;
                    border-bottom: 1px solid #343A40;

                }
            }

            tbody {
                tr:nth-child(2n) > td{
                    background-color: #EAF2FF !important;
                }
                td {
                    padding: 16px 18px !important;
                    border: none !important;
                    font-family: "Roboto";
                    font-size: 0.75rem;
                    color: #b3b8bd;
                    text-align: center;
                    letter-spacing: calc((48.06 / 1000) * 1em);
                }

            }
        }
    }

    &-header {
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #ebf2f7;

        &-title {
            font-size: 18px;
            font-weight: 500;
            font-family: "Roboto";
        }

        img {
            height: 1rem;
            width: 1rem;
            filter: invert(106%) sepia(18%) saturate(0%) hue-rotate(65deg) brightness(300%) contrast(129%)
        }
    }
}

.tableCard {
    background-color: #ffffff;
    border-radius: 0.5rem;
    filter: drop-shadow(0px 5px 25px #52575d21);
}