.auth {
  &-wrapper {
    display: flex;
    height: calc(100vh + 2px);
    align-items: center;
    justify-content: center;
  }

  &-body {
    margin-top: 1rem;
    width: 40%;
    border: 1px solid #c7c1c1;
    padding: 4rem 6rem;
    box-shadow: 0px 0px 30px #A5A4BF;
    margin-bottom: 1rem;
    

    @include media-breakpoint-down(lg) {
      width: 50%;
      padding: 3rem;
    }
    @include media-breakpoint-down(md) {
      width: 80%;
      padding: 3rem;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 3rem;
    }

    h5 {
      text-align: center;
      font-size: 35px;
      line-height: 21px;
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: (200/2000) * 1em;
      color: #43425D;
      -webkit-text-stroke: 1px #707070;
      
    }
    p {
      text-align: center;
      font-size: 18px;
      font-weight: lighter;
      font-family: 'Source Sans Pro', sans-serif;
      margin-bottom: 25px;
      color: #4D4F5C;
      line-height: 21px;
      -webkit-text-stroke: 1px #707070;
    }

    h6 {
      text-align: center;
      margin-top: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      letter-spacing: (200/2000) * 1em;
      color: #43425D;
      -webkit-text-stroke: 1px #707070;

    }
  }

  &-form {
    margin: 50px auto;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &-heading {
    color: $blue;
  }
  &-card {
    // background-color: $white;
    width: 100%;
    max-width: 360px;
    margin: auto;
    padding: 1rem;
    img {
      height: 80px;
      margin: auto;
      display: block;
    }
  }
  &-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    .form-group {
      margin-bottom: 0;
    }
  }

  &__02 {
    background-color: $gray-200;
    .heading {
      color: $red;
      font-weight: 400;
      @include des;
      margin-top: 0.5rem;
    }
    .dept {
      color: $gray-700;
      @include rfs(1rem);
      font-weight: 800;
      @include media-breakpoint-up(xl) {
        white-space: nowrap;
      }
    }

    .address {
      color: $gray-700;
      font-weight: 400;
      @include rfs(0.75rem);
    }

    .signup {
      color: $blue;
      font-weight: 400;
      margin-top: 3.5rem;
      @include media-breakpoint-down(sm) {
        margin-top: 2rem;
      }
    }

    .form-group {
      label,
      a {
        @include rfs(0.75rem);
        color: $gray-400;
      }
    }
    .forgotPassword {
      position: absolute;
      top: 0.25rem;
      right: 0;
    }

    .about {
      font-weight: 800;
      color: $white;
      @include rfs(1.5rem);
      margin-bottom: 2rem;
      padding: 2rem 1.5rem 0;
    }

    .credentials {
      position: relative;
      padding: 3rem;
      height: 100%;
      background-color: $white;
      @include media-breakpoint-down(lg) {
        padding: 1.5rem;
        padding-bottom: 3.5rem;
      }

      footer {
        color: $gray-300;
        @include rfs(0.75rem);
        font-weight: 400;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1rem;

        .faq {
          white-space: nowrap;
        }
      }
    }

    .list-process {
      li {
        a {
          @include h6;
          background-color: $red;
          padding: 0.75rem 1.5rem;
          border: none;
          border-radius: 4px 4px 0px 0px;

          color: rgba($white, 0.6);
          &:hover {
            color: $white;
          }
          &.active {
            color: $red;
            background-color: $white;
            @include hover-focus-active {
              color: $red;
            }
          }
        }
      }
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
}

.media {
  &-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.75rem;
    color: $white;
    z-index: 2;

    p {
      opacity: 0.8;
      font-size: 0.75rem;
    }
  }
}

.register {
  &-head {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &-box {
    width: 640px;
    margin: auto;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    .logo-box {
      height: 4.5rem;
    }
  }
}

.step {
  &-progress {
    width: 4.75rem;
    height: 0.25rem;
    display: grid;
    grid-auto-flow: column;
    gap: 0.25rem;
  }

  &-pill {
    border-radius: 2rem;
    height: 100%;
    background-color: $cool-gray-300;

    &.active {
      background-color: $primary;
    }
  }
}
