.chartOptions .css-1momwwy-indicatorContainer{
  display: none!important;
}

.chartOptions .css-tj5bde-Svg{
  display: none!important;
}

#wtq {
  position: absolute;
  top: 21px;
  // left: 334px;
  left: 17.8%;
}