 <!-- Navbar -->
 <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
  
    <h4 style="margin-left: 20px;">Asset Management System Main Config</h4>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
     

     
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <p style="margin-right: 20px;">{{request.user.username}}</p>
      </li>
      <li class="nav-item dropdown">
       <a href="{% url 'main-config:superuser-logout' %}"><p style="margin-right: 20px;">Logout</p></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->