// .customInput {
//   position: relative;
//   overflow: hidden;
//   height: 60px;
// }
// .customInput input {
//   width: 100%;
//   height: 100%;
//   border: none;
//   outline: none;
//   padding-top: 20px;
// }
// .customInput label {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
//   border-bottom: 1px solid #000;
// }
// .customInput label::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: -1px;
//   height: 100%;
//   width: 100%;
//   border-bottom: 3px solid #5fa8d3;
//   transform: translateX(-100%);
//   transition: transform 0.3s ease;
// }
// .customInput span {
//   position: absolute;
//   bottom: 5px;
//   left: 0;
//   transition: all 0.3s ease;
// }
// .customInput input:focus + .label .span,
//  .customInput input:valid + .label .span{
//   transform: translateY(-150%);
//   font-size: 14px;
// }
// .customInput input:focus + .label::after ,
//  .customInput input:valid + .label::after{
//     transform: translateX(0%);
// }
.customInput {
    position: relative;
    overflow: hidden;
    height: 60px;
    width: 100%;
    input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding-top: 16px;
        color: #b3b8bd;
        font-size: 16px;
        letter-spacing: (48.6/1000) * 1em;
        line-height: 16px;
        font-family: "Roboto";
        &:focus+.label .span {
            transform: translateY(-110%);
            font-size: 14px;
        }
        &:valid+.label .span {
            transform: translateY(-110%);
            font-size: 14px;
        }
        &:focus+label::after {
            transform: translateX(0%);
        }
    }
    label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 2px solid #e9e9f0;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 100%;
            width: 100%;
            border-bottom: 2px solid rgb(78, 90, 97);
            transform: translateX(-100%);
            transition: transform 0.3s ease;
        }
        .span {
            position: absolute;
            bottom: 5px;
            left: 0;
            transition: all 0.3s ease;
        }
    }
}