.error-boundary {
    &--container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    &--content{
        text-align: center;
    }
    &--header{
        
    }
    &--summary{

    }
    &--button{

    }
}